
.containerpanel {
    display: flex;
    width: 100svw;
    background-color: black;
    background-position: center;
    box-shadow: 0 0 500px rgba(0,0,0);
}

.panel {
    background-size: auto 100%;
    /* background-size: cover; */
    background-position:center ;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition:flex 0.7s ease-in ;

}
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom:20px;
    left:20px;
    margin:0;
    opacity:0;

}

.active {
    flex: 5;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
@media only screen and (max-width: 600px){
    .containerpanel {
        flex-direction: column;
        width: 100vw;
        height:100svh;
    }
    /* classes that does not have active class on it inside .containerpanel */
    .containerpanel > *:not(.active){
        background-size: cover;
    }
    .textvideo {
        flex-direction: column;
    }
    .videos{
        /* flex-direction: column; */
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
    }
    video{
        aspect-ratio: 16/9;
        width: 100%;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}


#scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(14, 14, 14, 0.3);
	background-color: #070707;
}

#scroll::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
    scroll-radius: 10px;
}

#scroll::-webkit-scrollbar-thumb
{
	background-color: rgb(137, 18, 9, 0.3);
}

